<div class="wrapper-container">
    <video [autoplay]="true" [muted]="true" [loop]="true" playsInline id="bg-video">
        <source type="video/mp4" src="./../../../assets/bg-videos/bg-video.mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="overlay"></div>
    <div class="container-fluid flex-container inner-container">
        <div class="left-container w-50 h-100 d-sm-none d-md-block">
            <h3>Join the Club</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla quasi harum.</p>
            <div>
                <div class="flex-container">
                    <div class="border">
                        <i class="bi bi-laptop"></i>
                    </div>
                    <div class="flex-container flex-column">
                        <h5>Community</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>

                <div class="flex-container">
                    <div class="border">
                        <i class="bi bi-basket2-fill"></i>
                    </div>
                    <div class="flex-container flex-column">
                        <h5>Community</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>

                <div class="flex-container">
                    <div class="border">
                        <i class="bi bi-briefcase-fill"></i>
                    </div>
                    <div class="flex-container flex-column">
                        <h5>Community</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container h-100">
            <p class="form-title">Weclome</p>
            <small class="form-sub-title">Join gazillions of people online</small>
            <div class="form-wrapper">
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <div class="icon-wrapper">
                            <i class="bi bi-person"></i>
                        </div>
                        <input type="text" formControlName="username" class="no-outline sm-placeholder-text" placeholder="Enter username">
                    </div>

                    <div class="form-group">
                        <div class="icon-wrapper">
                            <i class="bi bi-key-fill"></i>
                        </div>
                        <input type="password" formControlName="password" class="no-outline sm-placeholder-text" placeholder="Enter Password">
                    </div>

                    <div class="flex-container mb-1 justify-content-between">
                        <div class="flex-container align-center ">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Remember</label>
                        </div>
                        <div>
                            <small>Forgot Passowrd?</small>
                        </div>
                    </div>

                    <button (click)="login()" class="btn">Log into your account</button>
                    <p class="auth-footer-txt">Don't have an acc? <span (click)="reroute()">Register</span></p>
                </form>
            </div>
        </div>        
    </div>
</div>
