.container-fluid {
    height: 100vh;
    padding: 1rem;

    // .row {

    // }

    .card {
        #chart {
            max-width: 380px;
            margin: 35px auto;
            padding: 0;
        }

        #bar-chart {
            max-width: 650px;
            margin: 35px auto;
          }
    }
}