.container-fluid {
    height: auto;
    padding: 1rem;

    .row {
        h6 {
            font-weight: 500;
        }
        
        p {
            font-size: 13px;
            margin-bottom: .3rem;            
        }
    }

    .card {
        #chart {
            max-width: 380px;
            margin: 35px auto;
            padding: 0;
        }

        #bar-chart {
            max-width: 650px;
            max-height: 500px;
            margin: 35px auto;
          }
    }
}