<mat-toolbar>
    <div class="container">
        <div class="row">
            <div class="inner-wrapper">
                <div>
                    <div class="flex-container left-wrapper">
                        <div>
                            <p (click)="toggleSidebar()" style="cursor: pointer;color: #0f0f0f;font-size: 25px;font-weight: bold;" class="mb-0"><i class="bi bi-list"></i></p>
                        </div>
                        <div>
                           My Application
                        </div>
                    </div>
                </div>
                <div class="user-info">
                    <div class="user-img">
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
