.container-fluid {
    padding: 0;
    margin: 0;
    height: auto;

    .hero-section {
        height: 100vh;
        text-align: center;
        background-image: url('.././../../assets//bg-images/bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 200;

        .hero-btns {
            width: 370px;
            gap: 1rem;
            z-index: 200;
        }

        .overlay {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.527);
        }

    }

    .info-section {
        min-height: 100vh;
        // padding-bottom: 2rem;


        .col-md-5 {
            padding: 1rem;
        }

      .col-md-7 {
        .flex-container {
            .border {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #bebebe;
                border-radius: 12px;
                margin: .5rem 0;
            }

            .flex-column {
                padding: .5rem;
            }
        }
      }
    }
}
