<div class="container-fluid position-relative">
    <div class="container">
        <div class="overlay container z-10">
            <div class="row z-50">
                <div class="col-md-6">
                    <h3 class="footer-brand">Zeraki Analytics</h3>
                    <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, eos ipsum ipsam provident at perspiciatis?</p>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-nav-column-title">Company</h4>
                    <ul class="footer-links">
                        <li class="footer-link">About Us</li>
                        <li class="footer-link">Latest News</li>
                        <li class="footer-link">Contact Us</li>
                        <li class="footer-link">Resources</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4 class="footer-nav-column-title">Social</h4>
                    <ul class="footer-links">
                        <li class="footer-link">About Us</li>
                        <li class="footer-link">Latest News</li>
                        <li class="footer-link">Contact Us</li>
                        <li class="footer-link">Resources</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
