.container-fluid {
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    
    .container {
        .overlay {
            padding: 2rem;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.527);
        }
        ul {
            list-style: none;
            padding: 0;

            li {
                cursor: pointer;
            }
        }
    }
}